<div class="ui inverted vertical footer segment">
    <div class="ui inverted section divider center"></div>
      <h1 class="ui centered">Phone Garage LLC</h1>
      <div class="ui centered aligned ">
          <div class="ui horizontal inverted small divided link list center">
            <a class="item" href="#">Careers</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
          </div>
      </div>
    </div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <script type="text/javascript" src="/scripts/navbar-logic.js"></script>
</body>
</html>
