<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Phone Garage Website</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body style="padding-bottom:10%;">

    <img id="logo" src = "/img/PhoneGarageLogo.png"/>
    <div id="auth-container">
        <div class="ui two item menu">
            <a class="item" href="#">Login<i class="sign in icon"></i></a>
            <a class="item" href="#">Register <i class="add user icon"></i></a>
        </div>
    </div>
    <div id="nav-container">
        <div class="ui vertical pointing menu centered">
            <a href="/"class="item" id="home">Home</a>
            <a href="/fix" class="item" id="request">Request a Fix</a>
            <a href="/freelance" class="item" id="freelance">Need a Website?</a>
            <a href="/shop" class="item" id="shop">Shop</a>
        </div>
    </div>
