<% include partials/header %>
<div class="container">
    <div class="ui raised segment">
        <h1>Need a Freelancer?</h1>
        <p>We build high quality websites.</p>

    </div>

</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script> $("#freelance").addClass('active'); </script>
<% include partials/footer %>
