<% include partials/header %>

<div class="container">
    <div class="ui raised segment">
        <h1>Welcome to Phone Garage</h1>
        <p>We take care of fixing your broken phones for a fraction of the industries price!</p>

        <div>Our Rates

            <div class="ui style accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    iPhone 5s or below
                </div>
                <div class="content">
                    <h1 class="transition hidden">$30</h1>
                    <a class="transition hidden ui primary button">Request Now</a>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    iPhone 6,6+,6s,6s+
                </div>
                <div class="content">
                    <h1 class="transition hidden">$60</h1>
                    <a class="transition hidden ui primary button">Request Now</a>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    iPhone 7,7+
                </div>
                <div class="content">
                    <h1 class="transition hidden">$75</h1>
                    <a class="transition hidden ui primary button">Request Now</a>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    $('ui.accordion').accordion();
</script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script> $("#home").addClass('active'); </script>
<% include partials/footer %>
