<% include partials/header %>

<div class="container">
    <div class="ui raised segment">
        <h1>Request a Fix</h1>
        <div class="ui form">
            <div class="field">
                <label>Full Name:</label>
                <input type="text" name="requestInfo[name]" placeholder="Enter name..." />
            </div>
            <div class="field">
                <label>Phone Number: </label>
                <input type="text" name="requestInfo[phone]" placeholder="###-###-####" />
            </div>
            <div class="field">
                <label>Phone Model</label>
                <select class="ui fluid dropdown">
                    <option value="requestInfo['iPhone5s']">iPhone 5s</option>
                    <option value="requestInfo['iPhone6']">iPhone 6 White</option>
                    <option value="requestInfo['iPhone6']">iPhone 6 Black</option>
                    <option value="requestInfo['iPhone6+']">iPhone 6+ White</option>
                    <option value="requestInfo['iPhone6+']">iPhone 6+ Black</option>
                    <option value="requestInfo['iPhone6s']">iPhone 6s White</option>
                    <option value="requestInfo['iPhone6s']">iPhone 6s Black</option>
                    <option value="requestInfo['iPhone6s+']">iPhone 6s+ White</option>
                    <option value="requestInfo['iPhone6s+']">iPhone 6s+ Black</option>

                </select>
            </div>
            <div class="field">
                <label>If you are not sure, please type in the phone model number which can be found in the bottom back of the phone</label>
                <input type="text" name="requestInfo['model']" placeholder="Phone Model Number"/>
            </div>
            <input class="ui button" type="submit" value="Request" style="width:60%; margin-left:20%;"></div>

        </div>

    </div>

</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script> $("#request").addClass('active'); </script>
<% include partials/footer %>
