<% include partials/header %>
<div class="container">
    <div class="ui raised segment">
        <h1>Currently under construction, please come back later.</h1>
    </div>

</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script> $("#shop").addClass('active'); </script>
<% include partials/footer %>
