.container{
    margin-left: 25%;
    margin-top: -13.5%;
    width:60%;
    margin-bottom: 10%;
}
#nav-container{
    margin-top: 10%;
    margin-left:7%;
    position: relative;
    z-index: 1;
}

#auth-container a{
    color:black;

}
#auth-container{
    margin-left: 75%;
    width: 15%;
    margin-top: 5%;
    margin-bottom: -5%;
}
#logo{
    width:30%;
    height:50%;
    margin-bottom: -15%;
    margin-left: 5%;
    margin-top: 1.5%;
}
body{
    background-color: #007BFF;
}
.ui.footer{
    height:25%;
    width: 100%;
    margin-top: 40%;
    position: fixed;
    position: absolute;
    z-index: 1;
}
.centered{
    text-align: center;
}
